body{
    background-color: rgb(138,p[[]] 163, 185);
    background-position: -400px 0px;

}
.main{
    width:400px;
    margin:100px auto 0px auto;
    text-align: center;
    padding: 20px;
    


}
.register{
    background-color: rgb(76, 107, 107);
    width: auto;
    border-radius:10px ;
    border:1px solid rgba(255,255,255,0.3);
}
form#register{

margin: auto;
}





