body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #aea6a6;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .login-form{
    height: auto;
    width: 400px;
    padding: 50px;
    background-color:#fff ;
    border: .5px solid #d9d8d8;
}

.login-form .heading{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.login-form .input-field{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-wrapper{
    height: auto;
    width: 100%;
}

.login-form .input-field input{
    height: 40px;
    width: calc(100% - 2 * 8px);
    background-color: aqua;
    padding: 8px;
    font-size: 20px;
    outline: none;
}

.login-form .post-form-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.post-form-fields button{
    height: 30px;
    width: auto;
    padding: 8px;
    color: rgb(72, 72, 130);
}